<!DOCTYPE html>
<html>
  <head>
    <title>The Exciting Synesthesia Machine</title>
    <meta name="mobile-web-app-capable" content="yes">
    <style type="text/css">
    html,body{margin:0;height:100%;overflow:hidden;}
    img.vp{min-height:100%;min-width:100%;
      height:auto;width:auto;
      position:absolute;
      top:-100%; bottom:-100%;
      left:-100%; right:-100%;
      margin:auto;}
    img#selector{
      position:absolute;
      width:160px;height:160px;
      top:-10000px;left:-10000px;}
    </style>
    <script src="/static/socket.io.js"></script>
    <script>

    (function() {

    window.onload = function(){
      document.fullscreenEnabled = document.fullscreenEnabled || document.mozFullScreenEnabled || document.documentElement.webkitRequestFullScreen;

      function requestFullscreen(element) {
          if (element.requestFullscreen) {
              element.requestFullscreen();
          } else if (element.mozRequestFullScreen) {
              element.mozRequestFullScreen();
          } else if (element.webkitRequestFullScreen) {
              element.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
          }
      }
      document.addEventListener('click',
          function(){requestFullscreen(document.documentElement);});
      document.addEventListener('mousemove', handleMouseMove);
      document.addEventListener('touchmove', handleTouchMove);
      var mystatus = document.getElementById("statusdiv");

      window.addEventListener('wheel', handleMouseWheel, false);
      var selector = document.getElementById("selector");

      selector.style.width = '160px';
      selector.style.height = '160px';
      handleResize();
    };

    window.onresize = handleResize;
    var move = io.connect('http://:8000/movement');
    var mouseX, mouseY;
    var fingerdist = 0;

    function handleResize(event){
      fullimg = document.getElementById("fullimg");
      move.emit('resize', {
        'offsetLeft': fullimg.offsetLeft,
        'offsetTop' : fullimg.offsetTop,
        'offsetWidth': fullimg.offsetWidth,
        'offsetHeight': fullimg.offsetHeight
      });
    }
    function handleMouseMove(event) {
        var dot, eventDoc, doc, body, pageX, pageY;
        event = event || window.event;
        if (event.pageX == null && event.clientX != null) {
            eventDoc = (event.target && event.target.ownerDocument) || document;
            doc = eventDoc.documentElement;
            body = eventDoc.body;

            event.pageX = event.clientX +
              (doc && doc.scrollLeft || body && body.scrollLeft || 0) -
              (doc && doc.clientLeft || body && body.clientLeft || 0);
            event.pageY = event.clientY +
              (doc && doc.scrollTop  || body && body.scrollTop  || 0) -
              (doc && doc.clientTop  || body && body.clientTop  || 0 );
        }
        move.emit('mouse move', {x: event.pageX, y: event.pageY});
        var mdim = parseInt(selector.style.width);
        mouseX = event.pageX;
        mouseY = event.pageY;
        selector.style.left = mouseX - mdim/2 + 'px';
        selector.style.top = mouseY - mdim/2 + 'px';
    }

    function handleTouchMove(event){
      event.preventDefault();
      var elm = event.touches[0];
      var elm2 = event.touches[1];
      if(elm2) {
        zoom = elm2.pageX - elm.pageX;
        if (zoom > fingerdist) {
          delta = 5;//zoom - fingerdist; 
        } else {
          delta = -5; //zoom - fingerdist;
        }
        var mdim = parseInt(selector.style.width);
        var nw = delta + mdim;
        nw = Math.max(nw, 40);
        nw = Math.min(nw, 320);
        selector.style.width = nw + 'px'; 
        selector.style.height = nw + 'px'; 
        move.emit('zoom', nw);
        fingerdist = zoom;
      } else {
        mouseX = elm.pageX;
        mouseY = elm.pageY;
        move.emit('mouse move', {x: mouseX, y: mouseY});
        var mdim = parseInt(selector.style.width);
        selector.style.left = mouseX - mdim/2 + 'px';
        selector.style.top = mouseY - mdim/2 + 'px';
      }
    }

    function handleMouseWheel(event) {
      event.preventDefault();
      var event =  event || window.event;
      //var delta = Math.max(-1, Math.min(1, (event.wheelDelta || -event.detail)));
      var delta = event.deltaY;
      selector = document.getElementById("selector");
      var mdim = parseInt(selector.style.width);
      if (40 < mdim && delta > 0 || mdim < 320 && delta < 0) {
        selector.style.width = mdim - delta + 'px';
        selector.style.height = mdim - delta + 'px';
        selector.style.left = mouseX - mdim/2 + 'px';
        selector.style.top = mouseY - mdim/2 + 'px';
        move.emit('zoom', mdim);
      }
    }
})();
    </script>
  </head>
  <body>
    <img src="/static/{{ imgfile }}" class="vp" id="fullimg" alt="Monrainds composition III" />
    <img src="/static/rect.png" id="selector" />
    <div id="statusdiv"></div>
  </body>
</html>
